body { 
    background: #0d1117; 
    font-family: sans-serif; 
    padding: 10px; 
    color: white;
    width: 300px;
    font-size: 16px;
}

.title{
    font-size: 20px;
    font-weight: 600;
}

select, button { 
    margin-top: 10px; 
    width: 100%; 
}

pre { 
    padding: 10px; 
    margin-top: 10px; 
    white-space: pre-wrap; 
    word-wrap: break-word; 
}